html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* headers */

h5 {
  padding: 20px;
}

/* Footer */

footer {
  padding: 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.336);
  color: rgb(98, 102, 110);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

/* paper */

.paper-container {
  padding: 1.25rem; 
}
